@charset "UTF-8";
@import url('https://pro.fontawesome.com/releases/v5.10.0/css/all.css');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'NanumSquareRound';
    word-spacing: 3px;
    line-height: 1.5;
}

/* *{ border: 0.1px solid #7a7a7a;} */
ul {
    list-style: none;
}

a {
    text-decoration: none;
}


body {
    margin: 0;
    padding: 0;
}


/* body */
.sec1 .inner {
    text-align: center;
    margin: 100px auto;
}

.sec1 .sub_title {
    text-align: center;
    width: 100%;
    padding: 110px 0 60px;
    background: #0A0F23;
    color: #fff;
}

.sec1 h2 {
    font-weight: 500;
}
.sec1 .wave-box {
    height: 200px;
    position: relative;
    margin: 80px auto;
    display: flex;
    justify-content: center;
}

.wave-box .swiper{
    width: 100%;
    overflow: visible;
}

.swiper-slide{position: absolute;}

.wrapper{
    position: absolute;
    border-radius: 50%;
    width: 200px;
    height: 100%;
    transform: translateX(-50%);
    left: 24%;
    top: 0;
    box-shadow: 0px 0px 2px 20px rgb(233, 233, 233);
    z-index: 1000;
}
.wrapper.-two{left: 50%;}
.wrapper.-treen {left: 76%;}

.btn {
    transform: translateX(-50%);
    left: 50%;
    flex-direction: column;
    display: flex;
    width: 200px;
    height: 100%;
    color: #000;
    border-radius: 50%;
    transition: all 0.5s;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 20px;
    overflow: hidden;
    position: absolute;
    box-shadow: 0px 0px 10px #aaa;
}

.btn:before {
    content: "";
    position: absolute;
    width: 600px;
    height: 600px;
    border-radius: 45%;
    background-color: #0af;
    opacity: .5;
    top: 95%;
    left: 50%;
    transform: translate(-50%);
    animation: wave 8s infinite linear;
    transition: all 1.2s;
}
.swiper-slide .btn span {z-index: 5000;}

.swiper-slide .btn.on:before { 
    top: 40px; 
    opacity: .8;
} 
.btn.on{color: #fff;}

@keyframes wave {
    0% { transform: translate(-50%) rotate(-180deg); }
    100% { transform: translate(-50%) rotate(360deg); } 
  } 

.sec1 .wrapper span:last-child{font-weight: 400;}

.sec1 .text_one{
    text-align: center;
    border-bottom: 1px solid #aaa;
    padding-bottom: 80px;
}

.content2{margin-top: 80px;}
.content2 .map{
    margin: 80px 0;
    background: url(../img/map.png) center no-repeat;
    width: 100%;
    height: 510px;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content2 .map .circle{
    width: 350px;
    position: relative;
    font-weight: 500;
    font-size: 25px;
}
.content2 .map img{
    width: 100%;
    height: auto;
}
.content2 .map .circle .text{
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 500;
    transform: translate(-50%, 0);
}
.content2 .map .circle .text.-center{color: #fff;}
.content2 .map .circle .text.-top{top: -100px;}
.content2 .map .circle .text.-left{
    top: 280px;
    left: -60px;
}
.content2 .map .circle .text-right{
    position: absolute;
    right: -80px;
    bottom: -30px;
}

/* footer */
footer {
    background: #333;
    color: #fff;
    width: 100%;
    height: auto;
    padding: 20px 0;
    font-weight: 300;
    font-size: 15px;
    transition: all 0.3s;
    text-align: center;
}

footer .set {
    display: flex;
    justify-content: center;
}

footer .top {
    margin-bottom: 5px;
}

footer a {
    color: #fff;
    margin-right: 30px;
    font-weight: 600;
    transition: all 0.3s;
}

footer span {
    margin-right: 15px;
}

footer span:first-child{margin: 5px;}

footer .click {
    cursor: pointer;
}

