@charset "UTF-8";
@import url("https://pro.fontawesome.com/releases/v5.10.0/css/all.css");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "NanumSquareRound";
  word-spacing: 3px;
  line-height: 1.5;
}

/* * {
  border: 0.1px solid #7a7a7a;
} */
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* body */
.sec1 {
  height: 100%;
}
.sec1 .sub_title {
  text-align: center;
  width: 100%;
  padding: 110px 0 60px;
  background: #0a0f23;
  color: #fff;
}
.content1 {
  margin: 100px 0;
  height: auto;
}
.sec {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 700px;
  text-align: center;
}
.sec .text i {
  width: 50px;
  height: 50px;
  background: #333;
  color: #fff;
  border-radius: 50%;
  line-height: 50px;
  font-size: 25px;
}
.sec h3 {
  margin: 30px 0 10px;
}

/* footer */
footer {
  /* bottom: 0; */
  position: relative;
  background: #333;
  color: #fff;
  width: 100%;
  height: auto;
  padding: 20px 0;
  font-weight: 300;
  font-size: 15px;
  transition: all 0.3s;
  text-align: center;
}

footer .set {
  display: flex;
  justify-content: center;
}
footer .top {
  margin-bottom: 5px;
}
footer a {
  color: #fff;
  margin-right: 30px;
  font-weight: 600;
  transition: all 0.3s;
}
footer span {
  margin-right: 15px;
}
footer .click {
  cursor: pointer;
}

/* 게시판 테이블 CSS */
/* 전체 옵션 */
* {
  /* margin: 0 auto; */
  padding: 0;
  font-family: "NanumSquareRound";
}
a {
  text-decoration: none;
  color: #333;
}
ul li {
  list-style: none;
}

/* 공통 */
.fl {
  float: left;
}
.tc {
  text-align: center;
}

/* 게시판 목록 */

/* 게시판 글작성 버튼*/
.board_write {
  float: right;
  appearance: none;
  background-color: #fafbfc;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0,
    rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292e;
  cursor: pointer;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 15px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}
.board_write:hover {
  background-color: #f3f4f6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.board_write:disabled {
  background-color: #fafbfc;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959da5;
  cursor: default;
}

.board_write:active {
  background-color: #edeff2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.board_write:focus {
  outline: 1px transparent;
}

.board_write:before {
  display: none;
}

.board_write:-webkit-details-marker {
  display: none;
}
/*글작성페이지 글작성 버튼 wrapper*/
.writepage_write_wrapper {
  padding: 20px 0px;
}
/*글수정페이지 글수정 버튼 wrapper*/
.editpage_modfify_wrapper {
  padding: 20px 0px;
  gap: 5%;
}
/* 글작성페이지 글작성 버튼*/
.board_writepage_write {
  justify-content: center;
  appearance: none;
  background-color: #fafbfc;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0,
    rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292e;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 15px;
  list-style: none;
  padding: 10px 30px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}
.board_writepage_write:hover {
  background-color: #f3f4f6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.board_writepage_write:disabled {
  background-color: #fafbfc;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959da5;
  cursor: default;
}

.board_writepage_write:active {
  background-color: #edeff2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.board_writepage_write:focus {
  outline: 1px transparent;
}

.board_writepage_write:before {
  display: none;
}

.board_writepage_write:-webkit-details-marker {
  display: none;
}

/* 목록 */
.caption_text {
  display: inline;
  font-size: 1.75rem;
  float: center;
}
#board_area {
  width: 56.25rem;
  position: relative;
}
.list-table {
  margin-top: 40px;
}
.list-table caption {
  padding-bottom: 8px;
}
.list-table thead th {
  height: 40px;
  border-top: 2px solid #343a40;
  border-bottom: 1px solid #ccc;
  font-weight: bold;
  font-size: 17px;
}

.board_title {
  height: 40px;
  width: 40.625rem;
  border-top: 2px solid #343a40;
  border-bottom: 1px solid #ccc;
  font-weight: bold;
  font-size: 1.0625rem;
}
.qna_title {
  height: 40px;
  width: 40.625rem;
  border-top: 2px solid #343a40;
  border-bottom: 1px solid #ccc;
  font-weight: bold;
  font-size: 1.0625rem;
}
.board_date {
  height: 40px;
  width: 6.25rem;
  border-top: 2px solid #343a40;
  border-bottom: 1px solid #ccc;
  font-weight: bold;
  font-size: 1.0625rem;
}
.board_hit {
  height: 40px;
  width: 5rem;
  border-top: 2px solid #343a40;
  border-bottom: 1px solid #ccc;
  font-weight: bold;
  font-size: 1.0625rem;
}
.board_list {
  text-align: center;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
  height: 20px;
  font-size: 0.875rem;
}
.board_list_title {
  text-align: left;
  padding: 10px 0px 10px 20px;
  border-bottom: 1px solid #ccc;
  height: 20px;
  font-size: 0.875rem;
}
.list_li {
  font-size: 8px;
  float: left;
  padding-right: 10px;
}
#write_btn {
  position: absolute;
  margin-top: 20px;
  right: 0;
}
/*검색 상자*/
.search_box {
  width: 45%;
  margin: 30px 0px 20px 0px !important;
}

/* 자유게시판 write*/
.write_area {
  width: 1000px;
  padding: 50px 0px;
}
.board_write_title {
  font-size: 1.75rem;
  padding-bottom: 15px;
  border-bottom: 2px solid #343a40;
}
/* 자유게시판 글작성 */
/* 제목, 작성자, 내용 subtitle */
.board_write_subtitle_wrapper {
  width: 100px;
  height: 40px;
  margin: 0px;
  align-items: center;
  display: flex;
}
.board_write_subtitle {
  display: inline;
  text-align: left;
}
/*제목 wrapper*/
.search_form {
  display: flex;
  justify-content: space-between;
}
.search_select {
  padding: 5px 10px;
}
.search_button {
  padding: 0px 10px;
}
form .board_write_title_textarea_wrapper {
  display: flex;
  border-bottom: 1px solid #ccc;
  align-items: center;
  padding: 10px 0px 10px 0px;
}
form .board_write_title_textarea {
  justify-content: left;
  margin: 0px;
  width: 500px;
  height: 36px;
  padding: 5px;
  font-size: 16px;
  resize: none;
}
form .board_write_name_textarea {
  justify-content: left;
  margin: 0px;
  width: 500px;
  height: 36px;
  padding: 5px;
  font-size: 16px;
  resize: none;
}

form .board_write_nametitle_textarea {
  justify-content: left;
  margin: 0px;
  width: 300px;
  height: 36px;
  padding: 5px;
  font-size: 16px;
  resize: none;
}
form .board_write_password_textarea {
  justify-content: left;
  margin: 0px;
  width: 300px;
  height: 36px;
  padding: 5px;
  font-size: 16px;
  resize: none;
}
/* 내용 textarea */
form .board_write_contenttitle_textarea {
  justify-content: center;
  margin: 0px;
  width: 950px;
  height: 500px;
  padding: 5px;
  font-size: 16px;
  resize: none;
}
form .board_write_content_textarea_wrapper {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #ccc;
  align-items: center;
  padding: 10px 0px 10px 0px;
}

/*view page*/
.view_area {
  width: 1000px;
}
.view_table tr {
  width: 1000px;
}
.writer {
  padding: 0px 20px;
  border-right: 1px solid #495057;
}
.writer_DB {
  padding: 0px 20px;
}
.view_row {
  display: flex;
  width: 100%;
  border-bottom: 1px solid #343a40;
  padding: 15px 0px;
  gap: 45%;
}
.view_row div {
  margin: 0px;
}
.writer_wrapper {
  display: flex;
}
.view_table {
  padding: 10px 0px;
}
.view_title {
  width: 100%;
  font-size: 20px;
  padding: 10px 0px;
  border-bottom: 2px solid #343a40;
}
.date_hit_wrapper {
  display: flex;
}
.date {
  padding: 0px 20px;
  border-right: 1px solid #495057;
}
.date_DB {
  padding: 0px 20px;
}
.hit {
  padding: 0px 20px 0px 25px;
}
.hit_wrapper {
  display: flex;
}

/*페이징 넘버*/
#page_num {
  font-size: 14px;
  margin-left: 260px;
  margin-top: 30px;
}
.board_paging {
  display: flex;
  margin-bottom: 50px;
}
.page_num ul li {
  float: left;
  margin-left: 10px;
  text-align: center;
  padding: 0px 10px;
}
.fo_re {
  font-weight: bold;
}
