@charset "UTF-8";
@import url('https://pro.fontawesome.com/releases/v5.10.0/css/all.css');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&display=swap');


* {
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    font-family: 'NanumSquareRound';
    word-spacing: 3px;
    line-height: 1.5;
}



ul {list-style: none;}

a {text-decoration: none;}

html{height: 100%;}
body {
    
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
  flex-direction: column;
}


/* body */



 
div.sec1 {
    display: flex;
    flex: auto;
    flex-direction: column;
    max-height: 100%;
}

div.sub_title {
    height: auto;
    text-align: center;
    background: #0A0F23;
    color: #fff;
    position: relative;
    padding: 110px 0 60px;
}

div.sub_title:after {
    
    position: absolute;
    bottom: -5rem;
    left: 0rem;
    height: 5.1rem;
    display: block;
    width: 100%;
    z-index: 300;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 0) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 0) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 0) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=0);
    /* IE6-9 */
}

/* div.line{
    height:500px; 
    margin-top:90px; margin-bottom: 50px;
    
    border-bottom: black solid 1.5px;

} */

div.pic{
    
background: url(../img/오제훈사진.png) center;
width: 300px;
height:200px;
}

.box{
    display: flex;
    margin: 70px 0;
    border:1px solid gray;
}
.box .text{margin-left: 20px;}



  
  














.news_div{
    width:auto;
    height:auto;
    border-bottom: 1px solid black;
    margin-top:50px;
}

.picture{
    
    width:40%; 
    height:500px;
    float: left;

}
.paper{
    line-height: 10px;
    width:60%;
    height:500px;
    float:right;

}


/* footer */
footer {
    position: relative;
    bottom: 0;
    background: #333;
    color: #fff;
    width: 100%;
    height: auto;
    padding: 20px 0;
    font-weight: 300;
    font-size: 15px;
    transition: all 0.3s;
    text-align: center;
    z-index: 50000;
}

footer .set {
    display: flex;
    justify-content: center;
}

footer .top {
    margin-bottom: 5px;
}

footer a {
    color: #fff;
    margin-right: 30px;
    font-weight: 600;
    transition: all 0.3s;
}

footer span {
    margin-right: 15px;
}

footer .click {
    cursor: pointer;
}
