@charset "UTF-8";
@import url("https://pro.fontawesome.com/releases/v5.10.0/css/all.css");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "NanumSquareRound";
  word-spacing: 3px;
  line-height: 1.5;
}

/* *{ border: 0.1px solid #7a7a7a;} */
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  /* background: #eee; */
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

/* body */

.sec1 {
  height: 100%;
}
.sec1 .sub_title {
  text-align: center;
  width: 100%;
  padding: 110px 0 60px;
  background: #0a0f23;
  color: #fff;
}
.content1 {
  margin: 100px 0;
  height: auto;
}
.sec {
  margin: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}
.sec .text i {
  width: 50px;
  height: 50px;
  background: #333;
  color: #fff;
  border-radius: 50%;
  line-height: 50px;
  font-size: 25px;
}
.sec h3 {
  margin: 30px 0 10px;
}
.sec a {
  text-decoration: none;
  padding: 0 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
  color: #fff;
  background: #333;
  width: 150px;
  height: 40px;
  transition: all 0.5s;
  border-radius: 20px;
}
.sec a:hover {
  transition: all 0.5s;
  background: red;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

#slider-wrap {
  width: 100%;
  height: 800px;
  position: relative;
  overflow: hidden;
}

#slider-wrap ul#slider {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#slider-wrap ul#slider li {
  float: left;
  position: relative;
  width: 600px;
  height: 800px;
}

#slider-wrap ul#slider li > div {
  position: absolute;
  top: 20px;
  left: 35px;
}

#slider-wrap ul#slider li > div h3 {
  font-size: 36px;
  text-transform: uppercase;
}

#slider-wrap ul#slider li > div span {
  font-size: 21px;
}

#slider-wrap ul#slider li img {
  display: block;
  width: 60%;
  height: 80%;
  margin: 100px auto;
}

/*btns*/
.slider-btns {
  position: absolute;
  width: 50px;
  height: 60px;
  top: 50%;
  margin-top: -25px;
  line-height: 57px;
  text-align: center;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.1);
  z-index: 100;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  -webkit-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.slider-btns:hover {
  background: rgba(0, 0, 0, 0.3);
}

#next {
  right: -50px;
  border-radius: 7px 0px 0px 7px;
  color: #eee;
}

#previous {
  left: -50px;
  border-radius: 0px 7px 7px 7px;
  color: #eee;
}

#slider-wrap.active #next {
  right: 0px;
}

#slider-wrap.active #previous {
  left: 0px;
}

/*bar*/
#slider-pagination-wrap {
  min-width: 20px;
  margin-top: 350px;
  margin-left: auto;
  margin-right: auto;
  height: 15px;
  position: relative;
  text-align: center;
}

#slider-pagination-wrap ul {
  width: 100%;
}

#slider-pagination-wrap ul li {
  margin: 0 4px;
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #fff;
  opacity: 0.5;
  position: relative;
  top: 0;
}

#slider-pagination-wrap ul li.active {
  width: 12px;
  height: 12px;
  top: 3px;
  opacity: 1;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 0px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 0px;
}

/*ANIMATION*/
#slider-wrap ul,
#slider-pagination-wrap ul li {
  -webkit-transition: all 0.3s cubic-bezier(1, 0.01, 0.32, 1);
  -o-transition: all 0.3s cubic-bezier(1, 0.01, 0.32, 1);
  transition: all 0.3s cubic-bezier(1, 0.01, 0.32, 1);
}

/* footer */
footer {
  bottom: 0;

  background: #333;
  color: #fff;
  width: 100%;
  height: auto;
  padding: 20px 0;
  font-weight: 300;
  font-size: 15px;
  transition: all 0.3s;
  text-align: center;
}
footer .set {
  display: flex;
  justify-content: center;
}
footer .top {
  margin-bottom: 5px;
}
footer a {
  color: #fff;
  margin-right: 30px;
  font-weight: 600;
  transition: all 0.3s;
}
footer span {
  margin-right: 15px;
}
footer .click {
  cursor: pointer;
}
