@charset "UTF-8";
@import url('https://pro.fontawesome.com/releases/v5.10.0/css/all.css');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'NanumSquareRound';
    word-spacing: 3px;
    line-height: 1.5;
}


/* *{ border: 0.1px solid #7a7a7a;} */
ul{list-style: none;}
a {text-decoration: none;}


body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* body */
.SemiInner{
    width:1000px;
    height:auto;
    background-color: gray;
}

.picInner{
    
    width:70%;
    height:500px;
    background-color: cadetblue;
    margin: 0 auto ;
    }
.textInner{
    width:70%;
    height:200px;
    background-color: red;
    margin: 0 auto;
}
.arrowInner{
    width:30%;
    height:50px;
    background-color: blue;
    margin: 0 auto;
}

.sec1{height: 100%;}
.sec1 .sub_title{
    text-align: center;
    width: 100%;
    padding: 110px 0 60px;
    background: #0A0F23;
    color: #fff;
}
.content1{
    margin: 100px 0;
    height: auto;
}
.sec{
    margin: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}
.sec .text i{
    width: 50px;
    height: 50px;
    background: #333;
    color: #fff;
    border-radius: 50%;
    line-height: 50px;
    font-size: 25px;
}
.sec h3{margin: 30px 0 10px;}
.sec a{
    text-decoration: none;
    padding: 0 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
    color: #fff;
    background: #333;
    width: 150px;
    height: 40px;
    transition: all 0.5s;
    border-radius: 20px;
}
.sec a:hover{
    transition: all 0.5s;
    background: red;
}

/* footer */
footer{
    bottom: 0;
    
    background: #333;
    color: #fff;
    width: 100%;
    height: auto;
    padding: 20px 0;
    font-weight: 300;
    font-size: 15px;
    transition: all 0.3s;
    text-align: center;
}
footer .set{
    display: flex;
    justify-content: center;
}
footer .top{margin-bottom: 5px;}
footer a{
    color: #fff;
    margin-right: 30px;
    font-weight: 600;
    transition: all 0.3s;
}
footer span{margin-right: 15px;}
footer .click{cursor: pointer;}
